[build]
  command = "npm install"
  functions = "netlify/functions"
  publish = "public"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/admin/panel"
  to = "/admin-panel.html"
  status = 200

[[redirects]]
  from = "/order"
  to = "/order.html"
  status = 200

[[redirects]]
  from = "/confirmation"
  to = "/confirmation.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
